// import google font
@import url('https://use.fontawesome.com/releases/v5.0.1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
  font-weight: 400;
  font-size: toRem(16);
  line-height: toRem(23);
  letter-spacing: 0;
  color: $content-color;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: $color-white;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
  height: auto;
}

.test {
  color: $primary;
}

span{
  &.slash {
    padding: 0 toRem(3);
    color: $color-color4;
  }
}

p{
  margin-bottom: toRem(32);
}

a{
  &.link{
    font-size: toRem(16);
    line-height: toRem(28);
    font-weight: 300;
    color: $link-color;
    transition: 0.4s;
  }
  &:hover{
    color: $bg-color2;
  }
}

.field_wrap{
  margin-bottom: toRem(25);
  p{
    &.form-row{
      display: block;
      margin: 0;
      position: relative;
      font-size: toRem(15);
      line-height: toRem(28);
      font-weight: 300;
      color: $link-color;
      input{
        height: toRem(50);
        border: 1px solid $color-color5;
        box-shadow: none;
        color: $content-color;
        opacity: 1;
        padding-left: toRem(40);
        padding-right: toRem(10);
        width: 100%;
        border-radius: toRem(4);
        background: $bg-color5;
      }
      label{
        margin-bottom: 0.5rem;
      }
    }
  }
}

.w-auto{
  width: auto;
}



:export {
  bgColor2: $bg-color2;
  contentColor1: $content-color1;
  rgbColor3: $rgb-color3;
}