@import "../../../../sass/index.scss";

.navbar {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        li{
            float: left;
            a{
                display: block;
                text-align: center;
                padding: toRem(16);
                text-decoration: none; 
            }
        }
    }
}