@import '../../../sass/index.scss';

.reset_password_form{
    box-shadow: toRem(1) 0 toRem(20) $rgb-color2;
    padding: toRem(40) toRem(45);
    .title{
        margin: 0;
        font-size: toRem(26);
        line-height: toRem(28);
        font-weight: 600;
        color: $content-color;
        position: relative;
        text-transform: capitalize;
        margin-bottom: toRem(49);
        &:after{
            background: $bg-color2;
            position: absolute;
            bottom: toRem(-14);
            left: 0;
            content: "";
            width: toRem(30);
            height: toRem(1);
        }
    }
    .reset_password_info{

    }
}