@import "../../../sass/index.scss";

.blogPage{
    .blog-image{
        width: 100%;
        height: auto;
    }
    .title{
        font-size: toRem(34);
        line-height: 1.2;
        color: $content-color3;
        font-weight: 600;
        transition: 0.4s;
        text-transform: capitalize;
        margin-bottom: toRem(20);
        margin-top: toRem(30);
    }
    .post-body{
        padding-bottom: 2rem;
        .content{
            font-size: 16px;
            line-height: 28px;
            color: $content-color;
        }
    }
    .read-more{
        &:hover, &:active{
            background-color: $bg-color2;
            color: white;
        }
    }
    .post-date{
        font-size: 16px;
        line-height: 1.2;
        color: #666666;
    }
    .post-meta{
        margin-bottom: toRem(24);
        display: flex;
        gap: 1rem;
        .icon{
            color: $bg-color2;
            margin-right: toRem(8);
        }
    }
}